<!DOCTYPE html>
<html class="gridlines" data-theme="light">

<head>
  <title>SSSG</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/assets/css/pico.min.css" />
  <link rel="stylesheet" href="/assets/css/pico.colors.min.css" />
  <link href="/assets/css/custom.css" rel="stylesheet">
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.2.8.nomodule.min.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li>
          <h4 class="brand-700" style="letter-spacing: 0.05em;font-family: 'Wendy One';">simple</h4>
        </li>
      </ul>
    </nav>
  </header>

  <div class="p-16">
    <slot></slot>
  </div>

  <footer class="l-footer">
    <h3 class="l-footer__heading">simple, 2024</h3>
  </footer>
</body>

</html>